* {
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

img {
	pointer-events: none;
}

.bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(images/background.png) no-repeat center center;
	animation: textureFlip 0.5s steps(1) infinite;
	z-index: -1;
}

@keyframes textureFlip {
	0% {
	  transform: scale(1, 1);
	}

	25% {
	  transform: scale(-1, 1);
	}

	50% {
	  transform: scale(-1, -1);
	}
	
	75% {
	  transform: scale(1, -1);
	}
}

.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
	margin-top: -60px;
}

.links {
	margin-top: 40px;
}

.link {
	font-family: "Baskervville", serif;
	font-size: 16px;
	color: #5D3D09;
	padding: 0px 20px;
	transition: ease-in-out 0.1s;
	display: inline-block;
	opacity: 0.8;
}

.link:hover {
	transform: translateY(-2px);
	opacity: 1;
}

@media only screen and (max-height: 825px) {

}